<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <title>Destination</title>
</head>
<body>
    <a href="{% url 'travel:index' %}"><button>Home</button></a>
    <a href="{% url 'login:logout' %}"><button>Logout</button></a>
    <h1>{{ trip.destination }}</h1>
    <h3>Planned By:{{ trip.planner.name }}</h3>
    <h3>Travel Date From:{{ trip.start_date }}</h3>
    <h3>Travel Date To: {{ trip.end_date }}</h3>
    <h4>Other user's joining the trip:</h4>
    <ul>
        {% for traveler in travelers %}
        <li>{{ traveler.name }}</li>
        {% endfor %}
    </ul>
</body>
</html>